:root {
    --blue-violet: #645cff;
    --blue-violet-darker: #4d47ca;
    --tour-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --mainTransition: all 0.3s linear;
}
.primary-text-color {
    color: var(--blue-violet);
}
.first-section header {
    margin-left: 250px;
    margin-right: 350px;
    color: black;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2.5rem;
    align-items: center;
}
.first-section header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding-right: 2.5rem;
} 
.first-section header div a {
    color: black;
}
.first-section-tag {
    font-weight: bold;
    font-size: 20px;
    padding:0;
    margin-left: 0;
    margin-right: 0;
    text-decoration: none;
    padding-top: 1rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-section header ul li i {
    color: var(--blue-violet);
    font-size: 20px;
}
.first-section {
    color: white;
    height: 950px;
    display: inline-block;
    margin: auto;
    text-align: center;
}
.first-section div {
    text-align: center;
    margin: auto;
    padding: 40px;
}
.first-section-main {
    background: linear-gradient(rgba(74, 63, 218, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.unsplash.com/photo-1504280317859-9c6cce36bca8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format) center/cover no-repeat;
    height: 750px;
    padding: auto;
    margin-top: 350px;
}
.first-section-main h1 {
    padding-top: 200px;
    font-size: 4.5em;
}
.first-section-main p {
    padding-left: 600px;
    padding-right: 575px;
    font-size: 20px;
}
.first-section button {
    padding: 0.5rem 0.5rem;
    border-radius: 4px;
    background-color: #4d47ca;
    color: white;
    border: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.first-section img {
    width: 1200px;
    height: 700px;
}
.secont-section {
    padding: 50px;
    padding-top: 0;
}
.secont-section header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.secont-section img {
    width: 600px;
}
.secont-section a {
    text-decoration: none;
}
.the-third-sector {
    height: 700px;
    padding: 75px;
    padding-bottom: 0;
    background-color: rgba(192, 192, 192, 0.2);
}
.the-third-sector header{
    width: 500px;
    height: 50px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-icon {
    background: var(--blue-violet);
    padding: 0.5rem;
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.service-center {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    text-align: center;
    width: 550px;
    height: 600px;
}
.service {
    width: 250px;
    height: 250px;
}
.fourth-section {
    height: 2900px;
    padding: 50px;
}
.fourth-section header {
    width: 600px;
    height: 50px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fourth-section img {
    width: 600px;
}
.tour-card {
    box-shadow: var(--tour-shadow);
    transition: var(--mainTransition);
    margin-bottom: 4rem;
}
.tour-data {
    position: absolute;
    left: 0;
    top: 0;
    background: #645cff;
    text-transform: capitalize;
    padding: 0.25rem 0.5rem;
}
.tour-img-container {
    position: relative;
}
.tour-footer {
    padding: 1.2rem 1.5rem;
}
.tour-title {
    text-transform: capitalize;
}
.tour-country {
    color: var(--blue-violet);
    text-transform: capitalize;
    align-self: center;
}
.tour-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.tour-details p {
    line-height: 0.2;
    text-transform: capitalize;
}
.tool-link {
    width: 600px;
    height: 100px;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
}
.five-section {
    padding-top: 0;
    height: 1400px;
}
.five-section header{
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(190, 189, 189, 0.1);;
}
.galerry-photo {
    background-color: #4d47ca;
}
.galerry-photo img {
    width: 700px;
    height: 450px;
}
.details {
    display: block;
    padding: 5rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.details-wrapper {
    color: white;
    font-size: 500;
    margin-top: 0;
    margin-bottom: 0;
}
h2 {
    padding-left: 35px;
    margin-top: 20px;
    margin-bottom: 0;
}
.title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.6rem;
    letter-spacing: 0.5rem;
}
.input-group {
    display: flex;
}
.input-group:hover {
    overflow: hidden;
}
.button-submit {
    border-left: none;
    cursor: pointer;
    transition: var(--mainTransition);
}
.form-control, .button-submit {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 1px;
    border: 2px solid white;
    text-transform: uppercase;
    outline: none;
}
footer {
    background-color: black;
    color: white;
}
.footer-icon {
    color: var(--blue-violet-darker);
}
.footer-icon ul {
    height: 70px;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.copyright {
    text-align: center;
    margin: auto;
}
.footer-link {
    text-decoration: none;
    padding-top: 1rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-link a {
    color: white;
}
.footer-details {
    height: 150px;
    padding: 50px;
}