:root {
    --purple: #ff00bf;
}
header {
    padding: 20px 150px;
}
.header-div {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    gap: 0.5rem;
    display: flex;
    align-items: center;
}
.header-a {
    display: flex;
    text-decoration: none;
    gap: 2rem;
}
.header-a a {
    text-decoration: none;
    color: black;
}
.header-a a span {
    color: #ff00bf;
}
.first-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.first-section-main {
    text-align: left;
    padding-left: 100px;
}
.first-section .first-section-photo, .first-section-main {
    height: 700px;
}
.first-section-main {
    margin-top: 50px;
}
.first-section-photo img {
    height: 700px;
}
.first-section div p span {
    padding-left: 20px;
    color: #ff00bf;
    font-size: 15px;
}
.first-section div h1 {
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 0;
}
.paragraf {
    width: 350px;
}
.first-section-main button {
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px 20px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  background-color: white;
  background-image: url(Nuotraukos/Group1.svg);
}
.secont-section {
    text-align: center;
}
.secont-section-first-div {
    width: 1300px;
    height: 350px;
    display: inline-block;
    background: url(Nuotraukos/background.svg) no-repeat;
    text-align: left;
    text-align: justify;
}
.secont-section-first-div h1 {
    padding-top: 180px;
    padding-left: 100px;
}
.secont-section-first-div p {
    padding-left: 100px;
}
.secont-section img {
    width: 1500px;
}
.secont-section-first-atag {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-bottom: 50px;
}
.secont-section-first-atag a {
    font-size: 25px;
    gap: 2rem;
    text-decoration: none;
    color: black;
}
.secont-section-first-atag img {
    width: 300px;
    height: 50px;
}
.Third-section {
    text-align: left;
}
.Third-section-header {
    padding: 2rem 4rem;
    padding-top: 50px;
}
.Third-section-header h1 {
    font-size: 30px;
}
.Third-section-header p span {
    text-decoration: underline;
}
.Third-section-main {
    display: flex;
    gap: 2rem;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
.Third-section-main img {
    width: 450px;
    height: 300px;
}
.Third-section-main-item {
    display: flex;
    width: 450px;
    height: 450px;
}
.Third-section-main table {
    color: gray;
}
.Third-section-main table span {
    color: orange;
}